<appSettings>
	<add key="URL" value="https://admin:tigi@2021!@ccstore-test-zd3a.oracleoutsourcing.com"/>
	<add key="Login" value="acc345occ+us001@gmail.com"/>
	<add key="Password" value="1qaz!QAZ@WSX"/>
	<add key="Country" value="US"/>
	<add key="Address1" value="77 Massachusetts Avenue"/>
	<add key="City" value="Cambridge"/>
	<add key="County" value="Middlesex"/>
	<add key="State" value="MA"/>
	<add key="PostalCode" value="02139"/>
</appSettings>